@model AirWayTicketBooking.Models.Flight

@{
    ViewData["Title"] = "TicketBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ticket Book</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfArriving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfArriving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDepature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDepature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoingTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoingTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoSeatsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoSeatsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class="col-sm-2">
            No. Seat(s) Booked
        </dt>
        <dd class="col-sm-10">
            @ViewBag.BookedSeat
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charges)
        </dd>
        <dt class="col-sm-2">
            Total Fare
        </dt>
        <dd class="col-sm-10">
            @ViewBag.TotalFare
        </dd>
    </dl>
</div>
<div>
@*    <a asp-action="Edit" asp-route-id="@Model?.FlightId">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
    <a asp-action="Payment" class="btn btn-success" asp-route-passengerCount="@ViewBag.BookedSeat" 
    asp-route-total="@ViewBag.TotalFare" asp-route-tax="@Model.Tax" asp-route-charges="@Model.Charges" 
    asp-route-rate="@Model.Rate" asp-route-userId="@ViewBag.UserId" 
    asp-route-flightId="@ViewBag.FlightId">Proceed To Payment</a>
</div>
